{%extends "base.html" %}
{%load static %}
{% load i18n %}
{% block content %}
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
              <h2 class="h3 mb-4 page-title">{% trans 'Settings'  %}</h2>
              <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Security</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Notifications</a>
                  </li>
                </ul>
                <form method>
                    <div class="form-group">
                      <label for="firstname">اسم المقهى</label>
                      <input type="text" name="cafe_name" id="firstname" class="form-control" placeholder="ادخل اسم مقهاك" required>
                    </div>
                  <div class="form-group">
                    <label for="inputEmail4">البريد الإلكتروني</label>
                    <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="ادخل البريد الاإلكتروني هنا" required>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress5">الموقع</label>
                    <input type="text" name="location" class="form-control" id="inputAddress5" placeholder="P.O. Box 464, 5975 Eget Avenue" required>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputState5">المنطقة</label> <!--do we put a table with the city names?-->
                      <select id="inputState5" class="form-control" name="area" required>
                        <option selected="" disabled >اختر</option>
                        <option selected="">الرياض</option>
                        <option selected="">القصيم</option>
                        <option selected="">الشرقية</option>
                        <option selected="">مدري</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4"> <!--i want to link them with the list of area-->
                      <label for="inputState5">المدينة</label>
                      <select id="inputState5" class="form-control" name="city" required>
                        <option selected="" disabled>اختر</option>
                        <option selected="رياض-الخبراء">رياض الخبراء</option>
                        <option selected="بريدة">بريدة</option>
                        <option selected="">...</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip5">الرمز البريدي</label>
                      <input type="text" class="form-control" id="inputZip5" placeholder="98232" required>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <div class="form-group mb-3">
                      <label for="example-fileinput">ارفع ملف بيانات مقهاك هنا </label>
                      <input type="file" id="example-fileinput" class="form-control-file" name="data-file" required>
                    </div>
                  </div>
                  <div class="form-group"> <!--optional-->
                    <label for="inputZip5">روابط مواقع التواصل الاجتماعي</label> <!--ابي اخلي فيه ربط على طول مع انستا وغيره بس هذا مؤقت يعني -->
                    <input type="link" class="form-control" id="inputZip5" placeholder="ff" >
                  </div>
                  <div class="form-group mb-3"> <!--optional-->
                    <label for="validationTextarea">تحدث عن مقهاك قليلًا</label>
                    <textarea class="form-control" id="validationTextarea" placeholder="Required example textarea" ></textarea>
                    <div class="invalid-feedback"> Please enter a message in the textarea. </div>
                  </div>
                  <hr class="my-4">
                  <div class="form-group mb-3">
                  <label for="validationTextarea">بالضغط على زر "ارفع طلبك" فأنت توافق على رفع بياناتك الى هذا الموقع ، وتقر بأنها معلومات صحيحة.</label><br>
                  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#defaultModal">ارفع طلبك</button> 
                  </div>
                  
                  <!--modal to cofirm that the user wants to submit-->
                  <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="defaultModalLabel">تأكيد</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">بضغطك على متأكد فأنت تؤكد رغبتك برفع طلب دخولك للموقع. <br> نطلب منك الانتظار حتى يصلك بريدك الكتروني ينص على قبول دخول للموقع.</div>
                        <div class="modal-footer">
                          <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">اغلق</button>
                          <button type="button" class="btn mb-2 btn-primary">متأكد</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </div> <!-- /.card-body -->
            </div> <!-- /.col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->

        
    
      </main> <!-- main -->

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
{% endblock %}