{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load auth_filters %}

{% block title %} {% trans 'Settings' %} {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<style>
.upload-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex; justify-content: center; align-items: center;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.cafe-logo:hover .upload-overlay {
  opacity: 1;
}
.cafe-logo {
  position: relative;
  display: inline-block;
  width: fit-content;
}
.file-input {
  display: none;
}
</style>

<main role="main" class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <h2 class="h3 mb-4 page-title">{% trans 'Settings' %}</h2>

        <!-- Tabs -->
        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans 'Profile' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">{% trans 'Notifications' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="event-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">{% trans 'Events' %}</a>
          </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content" id="myTabContent">

          <!-- Profile Tab -->
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form method="POST" enctype="multipart/form-data" action="{% url 'settings_update' %}">
              {% csrf_token %}
              <div class="row mt-5 align-items-center">
                <div class="col-md-3 text-center mb-5">
                  <div class="avatar avatar-xl">
                    <label for="cafe_logo" class="cafe-logo">
                      {% if user.cafe_logo %}
                        <img src="{{ user.cafe_logo.url }}" class="avatar-img rounded-3" alt="Cafe Logo">
                      {% else %}
                        <img src="https://i.pinimg.com/736x/e5/58/dd/e558dd367b8813ce7972684e8be537ab.jpg" alt="Default Cafe Logo">
                      {% endif %}
                      <div class="upload-overlay"><i class="fe fe-camera"></i></div>
                    </label>
                    <input type="file" name="cafe_logo" id="cafe_logo" class="file-input" accept="image/*">
                  </div>
                </div>
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-md-7">
                      <h4 class="mb-1">{{ user.cafe_name }}</h4>
                      <p class="small mb-3"><span class="badge badge-dark">{{ user.area }} , {{ user.city.name }}</span></p>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-7">
                      {% trans "No cafe description available." as description_default_text %}
                      <p id="description-text" class="text-muted">
                        {{ form.cafe_description.value|default:description_default_text }}
                      </p>
                    
                      <!-- Hidden textarea -->
                      <div id="description-input" class="d-none">
                        {{ form.cafe_description }}
                        <button id="cancel-description-btn"  class="btn btn-sm mr-3" type='button'>Cancel</button>
                        <button id="submit-description-btn"  class="btn btn-sm mr-3" type='submit'>submit</button>
                      </div>

                    </div>
                   <!-- Edit Button -->
                    <button id="edit-description-btn" class="btn btn-sm mr-3" type="button">
                      <i class="fa fa-edit"></i>
                    </button>

                    <div class="col">
                      {% comment %} <p class="small mb-0 text-muted">P.O. Box 464, 5975 Eget Avenue</p> {% endcomment %}
                      {% comment %} <p class="small mb-0 text-muted">(537) 315-1481</p> {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>

              <hr class="my-4">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="cafe_name">{% trans 'Your cafe name' %}</label>
                  {{ form.cafe_name }}
                </div>
                <div class="form-group col-md-6">
                  <label for="username">{% trans 'Username' %}</label>
                  {{ user_form.username|add_class:"form-control" }}
                </div>
              </div>

              <div class="form-group">
                <label for="email">{% trans 'Email' %}</label>
                {{ user_form.email|add_class:"form-control" }}
              </div>

              <div class="form-group">
                <label for="inputAddress5">{% trans 'Address' %}</label>
                {{ form.location }}
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="data_file">{% trans 'Data file' %}</label>
                  {% if user.data_file %}
                    <p><a href="{{ user.data_file.url }}" target="_blank" class="text-primary">{% trans 'View current file' %}</a></p>
                  {% endif %}
                  <input type="file" name="data_file" id="data_file" class="form-control-file" accept=".csv">
                  <!-- زر يطلع الاشياء المطلوبة بالملف-->
                  <button type="button" class="btn btn-link p-0  text-danger" data-toggle="modal" data-target="#fileRequirementsModal">
                    {% trans 'View file structure requirements' %}
                  </button>

                </div>

                <div class="form-group">
                  <label for="firebase_link">{% trans 'Firebase Link' %}</label>
                  {% trans "No firbase link available." as firebase_default_text %}
                  <input type="link" class="form-control" id="firebase_link" name="firebase_link" value="{{ user.firebase_config|default:firebase_default_text }}">
                </div>
                
                <div class="form-group col-md-4">
                  <label for="inputState5">{% trans 'Area' %}</label>
                  {{ form.area }}
                </div>
                <div class="form-group col-md-3">
                  <label for="inputCity">{% trans 'City' %}</label>
                  {{ form.city }}
                </div>
              </div>

              <hr class="my-4">
              <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
            </form>
          </div>

          <!-- Notifications Tab -->
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <p>{% trans "Notifications tab (coming soon)" %}</p>
          </div>

          <!-- Events Tab -->
          {% include "profile/user_events_tab.html" %}
        </div>
      </div>
    </div>
  </div>
</main>
<!--for description edit button-->
<script>
  document.getElementById('edit-description-btn').addEventListener('click', function () {
    document.getElementById('description-text').classList.add('d-none');
    document.getElementById('description-input').classList.remove('d-none');
    document.getElementById('cancel-description-btn').classList.remove('d-none');
    document.getElementById('submit-description-btn').classList.remove('d-none');
    this.classList.add('d-none'); // Optional: hide the edit button
  });

  document.getElementById('cancel-description-btn').addEventListener('click', function () {
    document.getElementById('description-input').classList.add('d-none');
    document.getElementById('description-text').classList.remove('d-none');
    document.getElementById('edit-description-btn').classList.remove('d-none');
  });
  
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const cityDropdown = document.getElementById('inputCity');
    const areaDropdown = document.getElementById('inputState5');
    const cities = [
      {% for city in cities %}
        { id: "{{ city.id }}", name: "{{ city.name }}", area_id: "{{ city.area.id }}" },
      {% endfor %}
    ];
    areaDropdown.addEventListener('change', function() {
      const selectedAreaId = this.value;
      cityDropdown.disabled = false;
      cityDropdown.innerHTML = '<option selected disabled>{% trans "choose" %}</option>';
      cities.forEach(city => {
        if (city.area_id === selectedAreaId) {
          const option = document.createElement('option');
          option.value = city.id;
          option.textContent = city.name;
          cityDropdown.appendChild(option);
        }
      });
    });
  });

  toastr.options = {
    "closeButton": true,
    "progressBar": true,
    "timeOut": "3000",
    "extendedTimeOut": "1000",
    "positionClass": "toast-top-right"
  };

  document.getElementById('cafe_logo').addEventListener('change', function(event) {
    const file = event.target.files[0];
    const reader = new FileReader();
    reader.onload = function(e) {
      const preview = document.querySelector('.avatar-img');
      preview.src = e.target.result;
    };
    if (file) {
      reader.readAsDataURL(file);
    }
  });
    document.addEventListener("DOMContentLoaded", function () {
      const hash = window.location.hash;
      if (hash) {
        const tabLink = document.querySelector(`a.nav-link[href="${hash}"]`);
        if (tabLink) {
          new bootstrap.Tab(tabLink).show();
        }
      }
    });
  
</script>

<!-- مودال يطلع الاشياء الضرورية بالملف-->
<div class="modal fade" id="fileRequirementsModal" tabindex="-1" role="dialog" aria-labelledby="fileRequirementsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fileRequirementsModalLabel">{% trans 'File Requirements' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>{% trans 'Required columns:' %}</strong></p>
        <ul>
          <li><code>id</code></li>
          <li><code>branch_name</code></li>
          <li><code>type</code></li>
          <li><code>business_date</code></li>
          <li><code>total_price</code></li>
          <li><code>detailed_orders</code></li>
        </ul>
        <p><strong>{% trans 'Optional columns:' %}</strong></p>
        <ul>
          <li><code>discount_name</code></li>
          <li><code>discounts</code></li>
          <li><code>total_taxes</code></li>
          <li><code>check_number</code></li>
          <li><code>kitchen_notes</code></li>
          <li><code>preparation_period</code></li>
        </ul>
        <hr>
        <p>{% trans 'Make sure the file is in .csv format and that column names match exactly or closely with the above.' %}</p>
        <p>{% trans "it's better to have the optional columns,but not required" %}</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
