{% load static %}
{% load i18n %}
<!--profile-settings-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title> {% trans 'Settings'%} </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static 'css/app-dark.css' %}" id="darkTheme" disabled>
    <!-- flash library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <style>
        .hr.solid {
        border-top: 2px solid #999;
        }
    </style>
  </head>
  <body class="vertical  light {% trans 'dir' %} ">
    <div class="wrapper">
      <nav class="topnav navbar navbar-light">
        <a href="javascript:window.history.back();" class="mr-5 ">
          <i class="fas fa-arrow-right" style="font-size:30px; color:gray;"></i> <!--بغير مكانه بعدين-->
        </a>
        <ul class="nav">
          <li class="nav-item dropdown mt-2 mx-2">
            {% get_current_language as CURRENT_LANGUAGE %}
            {% get_available_languages as AVAILABLE_LANGUAGES %}
            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
            <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'languages' %}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              {% for language in languages%}
                <a class="dropdown-item" href="{% url 'set_language' urlname=request.resolver_match.view_name %}?language={{ language.code }}">
                  {{ language.name_local }}
                </a>              
              {% endfor %}
            </div>
          </li>
          <li class="nav-item dropdown mt-2 mx-1">
            <a class="nav-link dropdown-toggle text-muted pr-0 " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i style="font-size:18px" class="fa">&#xf007;</i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">{%trans 'Settings'%}</a>             
              <a class="dropdown-item " href="{% url 'logout' %}">
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item" style="padding:0px;">{% trans 'Logout'%}</button>
                </form>
            </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>
        </ul>
      </nav>
      <main role="main" class="main-content ml-0 mb-4">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
              <h2 class="h3 mb-4 page-title">{% trans 'Settings'  %}</h2>
              <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{%trans 'profile'%}</a>
                  </li>
                </ul>
                {% if messages %}
                  <script>
                    {% for message in messages %}
                      toastr["{{ message.tags }}"]("{{ message|escapejs }}");
                    {% endfor %}
                  </script>
                {% endif %}
                

                
                <form method="POST" enctype="multipart/form-data">
                  {%csrf_token%}
                    <div class="form-group">
                      <label for="firstname">{%trans 'Cafe Name'%}</label>
                      {{ form.cafe_name }}
                    </div>
                  <div class="form-group">
                    <label for="location">{%trans 'Location'%}</label>
                    {{ form.location }}
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputState5">{% trans 'Area' %}</label> <!--احس ترجمتي غلط مفروض كاونتي او شيء ثاني-->
                        {{ form.area }}
                        {% if form.area.errors %}
                          <div class="text-danger">
                            {% for error in form.area.errors %}
                              <p>{{ error }}</p>
                            {% endfor %}
                          </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputCity">{% trans 'City'%}</label>
                      {{ form.city }}
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <div class="form-group mb-3">
                      <label for="-fileinput">{% trans 'Upload you data here'%}</label>
                      {{ form.data_file }}
                      {% comment %} <input type="file" id="example-fileinput" class="form-control-file" name="data-file" required> {% endcomment %}
                    </div>
                  </div>
                  <div class="form-group"> <!--optional-->
                    <label for="inputZip5">{%trans  'Link to social media accounts if any'%}</label> <!--ابي اخلي فيه ربط على طول مع انستا وغيره بس هذا مؤقت يعني -->
                    {{ form.social_media_link }}
                   </div>
                  <div class="form-group mb-3"> <!--optional-->
                    <label for="validationTextarea">{%trans 'Talk about you cafe briefly'%}</label>
                    {{ form.cafe_description }}
                  </div>
                  <div class="form-group">
                    <label for="cafe_logo">{% trans 'Cafe Logo'%}</label>
                    {{ form.cafe_logo }}
                </div>
                  <hr class="my-4">
                  <div class="form-group mb-3"><!--الضغط على زر "ارفع طلبك" فأنت توافق على رفع بياناتك الى هذا الموقع ، وتقر بأنها معلومات صحيحة.-->
                  <label for="validationTextarea">{%trans 'By clicking the "Submit Your Request" button, you agree to upload your data to this website and confirm that the information is accurate.'%}</label><br>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#defaultModal">{%trans 'Submit Your Request' %}</button>
                  </div>
                  
                  <!--modal to cofirm that the user wants to submit-->
    
                  <!-- Modal -->
                  <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="defaultModalLabel">{%trans "Confirm"%}</h5>                                  
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">{% trans 'By clicking "Confirm," you confirm your desire to submit your access request to the website. <br>We ask you to wait until you receive an email confirming your access approval.' %}
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">{%trans 'Close'%}</button>
                                  <!-- Add form submission on confirmation -->
                                  <button type="submit" class="btn mb-2 btn-primary">{% trans 'Confirm'%}</button>
                              </div>
                          </div>
                      </div>
                  </div>

                </form>
              </div> <!-- /.card-body -->
            </div> <!-- /.col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->

        
    
      </main> <!-- main -->
      
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
    <script src="{% static 'js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/topojson.min.js' %}"></script>
    <script src="{% static 'js/datamaps.all.min.js' %}"></script>
    <script src="{% static 'js/datamaps-zoomto.js' %}"></script>
    <script src="{% static 'js/datamaps.custom.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script>
      /* defind global options */
      Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
      Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="{% static 'js/gauge.min.js' %}"></script>
    <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/apexcharts.custom.js' %}"></script>
    <script src="{% static 'js/apps.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
    <!--flash messages script-->
    <script>
      toastr.options = {
        "closeButton": true,
        "progressBar": true,
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "positionClass": "toast-top-right"
      };
    </script>
    <script>
      document.getElementById('inputState5').addEventListener('change', function() {
        const selectedAreaId = this.value;
        
        // Enable the city dropdown
        const cityDropdown = document.getElementById('inputCity');
        cityDropdown.disabled = false;
        
        // Clear existing cities in the dropdown
        cityDropdown.innerHTML = '<option selected disabled>اختر</option>';
    
        // Fetch cities based on the selected area (AJAX request or templating)
        {% for city in cities %}
            if ('{{ city.area.id }}' == selectedAreaId) {
                const option = document.createElement('option');
                option.value = '{{ city.id }}';
                option.textContent = '{{ city.name }}';
                cityDropdown.appendChild(option);
            }
        {% endfor %}
    });
    
    </script>
    
    
  </body>
  </html>