{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Assistant</title>
  <link rel="stylesheet" href="{% static 'chat/chat.css' %}">
</head>
<body>
  <div class="chat-container">
    <div class="category-buttons" id="category-buttons">
      {% for category in categories %}
        <button onclick="selectCategory('{{ category.id }}')">{{ category.name }}</button>
      {% endfor %}
    </div>
    <div class="subcategory-buttons" id="subcategory-buttons" style="display: none;">
      <!-- Subcategory buttons will be dynamically added here -->
    </div>

    <div class="chat-section" id="chat-section" >
      <div class="messages" id="messages">
        <div class="message bot">Hello! i'm your marketing adviser, please feel free to ask me anything.</div>
      </div>
      <div class="input-bar" id="input-bar" style="display: flex;">
        <form id="messageForm">
          {% csrf_token %}
          <input type="text" id="messageInput" placeholder="Type your answer..." />
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
   </div>

   <script>
    const categoriesjs = JSON.parse('{{ categories_json|escapejs }}');
    const subcategoriesjs = JSON.parse('{{ subcategories_json|escapejs }}');
  </script>
  <script src="{% static 'chat/chat.js' %}"></script>
  
</body>

</html>
