{% load static %}
{% load i18n %}
<nav class="topnav navbar navbar-light">
    <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
      <i class="fe fe-menu navbar-toggler-icon"></i>
    </button>
    {% comment %} <form class="form-inline mr-auto searchform text-muted">
      <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search">
    </form> {% endcomment %}
    <ul class="nav">
      <li class="nav-item dropdown mt-2 mx-2">
        {% get_current_language as CURRENT_LANGUAGE %}
        {% get_available_languages as AVAILABLE_LANGUAGES %}
        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
        <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {%trans 'languages'%}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          {% for language in languages%}
            <a class="dropdown-item" href="{% url 'set_language' urlname=request.resolver_match.view_name %}?language={{ language.code }}">
              {{ language.name_local }}
            </a>              
          {% endfor %}
        </div>
      </li>

     
      {% comment %} <li class="nav-item">
        <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">
          <span class="fe fe-grid fe-16"></span>
        </a>
      </li> {% endcomment %}
      {% comment %} <li class="nav-item nav-notif">
        <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
          <span class="fe fe-bell fe-16"></span>
          <span class="dot dot-md bg-success"></span>
        </a>
      </li> {% endcomment %}
      <li class="nav-item dropdown mt-2 mx-1">
        <a class="nav-link dropdown-toggle text-muted pr-0 " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i style="font-size:18px" class="fa">&#xf007;</i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'settings_view' %}">{%trans 'Settings'%}</a>             
          <a class="dropdown-item " href="{% url 'logout' %}">
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="dropdown-item" style="padding:0px;">{%trans 'Logout'%}</button>
            </form>
        </a>
        </div>
      </li>
      {% comment %} <li class="nav-item">
        <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
          <i class="fe fe-sun fe-16"></i>
        </a>
      </li> {% endcomment %}
    </ul>
    
  </nav>