{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title%} Home {% endblock %}

{% block content %}
<style>
  .card {
    border-radius: 20px; }
  a {
    color : #602E9E;
  }
</style>
<main role="main" class="main-content">
  <div class="container-fluid">
    {%blocktrans with username=username %}<h1 class="page-title display-3" style= "color: rgb(143, 148, 116); font-weight: 700;">Welcome, {{ username }}!</h1>
      <h1>Let’s break down your data and see what’s new..<br></h1>
    <h3 style="color:#B3B4B5;">Here are a few quick insights to help you plan things right</h3>{% endblocktrans %}
    <div class="row my-4">
      <!-- Tall Card on the left -->
      <div class="col-md-6">
        <div class="card shadow mb-4 h-100" >
          <div class="card-body">
            <h2 class="card-title">{%trans "last month's category sales distribution:"%}</h2>
            <canvas id="categoryPieChart" height="200"></canvas>
            <div class="d-flex justify-content-end mt-auto pt-3">
            <a href="{% url 'analysis' %}" >{%trans 'see more on Analysis'%}</a>
          </div>
          </div>
        </div>
      </div>
    
      <!-- Two stacked cards on the right -->
      <div class="col-md-6 d-flex flex-column">
        <!-- Top right card -->
        <div class="card shadow flex-fill" style=' background-color: #D5F2FE;  margin-bottom: 15px;'>
          <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
            <h2 class="card-title mb-4">{%trans "today's Advice:"%}</h2>
            <h1 class="title mb-4 text-center" style = 'color:#59AEB4; font-size: 3rem;'>{{ advice_title }}</h1>
            <div  class="d-flex justify-content-end pt-3">
            <a href="{% url 'promotions' %}" >{% trans 'learn more on promotions'%}</a>
          </div>
            <p class="card-text"></p>
          </div>
        </div>
        <!-- Bottom right card -->
        <div class="card shadow flex-fill" style="background-color: #E3E2F6;">
          <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
            <h2 class="card-title mb-4">{% trans 'next event is:' %}</h2>
            <h1 class="title mb-4 text-center" style= "color:#602E9E;font-size: 3rem;">{{ next_event.event_name }}</h1>
            <div class="d-flex justify-content-end mt-4">
              <a href="{% url 'promotions' %}" >{% trans 'check for the date' %}</a>
            </div>
            <p class="card-text"></p>
          </div>
        </div>

  </div>
</main> <!-- main -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  const ctx = document.getElementById('categoryPieChart').getContext('2d');
  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: {{ category_labels|safe }},
      datasets: [{
        label: 'Category Sales',
        data: {{ category_data|safe }},
        backgroundColor: [
                            '#D5F2FE', '#A4DADE', '#E3E2F6','#C5C4E0', '#E3E7CF',  '#B9BDAC','#71AFB4', '#602E9E', '#8F9474'  
                        ],
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: { position: 'bottom' }
      }
    }
  });
});
</script>

{% endblock content %}